<ul>
  <li><a [routerLink]="['/dashboard/categories']">categorias</a></li>
  <li><a [routerLink]="['/dashboard/products']">Productos</a></li>
  <li><a [routerLink]="['/dashboard/task']">Tareas</a></li>
  <li><a [routerLink]="['/faqs']">Preguntas</a></li>
</ul>

<button mat-raised-button color="primary" (click)="increaseCount()">Increase</button>

<router-outlet/>

<mat-form-field>
  <input matInput #myName (input)="updateName(myName.value)" />
</mat-form-field>

Mi nombre: {{name()}}

<p>
  Computed count
  {{doubleCont()}}
</p>
<h3>Defer when</h3>

<div>
  <input 
  #checkboxDefer
  type="checkbox"
  [checked]="isCheckedDefender()"
  (change)="isCheckedDefender.set(checkboxDefer.checked)"
  id="checkboxDefer"
  />
  <label for="checkboxDefer">Selecciona</label>
</div>
<br />

@defer(on timer(2s)){
 <h1>Valor luego de 2 segundos</h1>
}@placeholder {
  <h1>Me encuentro en el placeholder</h1>
}

<h1>Control Flow Sintaxis</h1>
<button (click)="toggleFruit()">Toogle Apple</button>

@if (isApple) {
  <p>Esto es una manzana</p>
}@else {
  <p>Esto no es una manzana</p>
}

@switch (fruit) {
  @case ('Apple') {
    <p>Esto es una manzana</p>
  }
  @case ('Banana') {
    <p>Esto es un platano</p>
  }
  @case ('Orange') {}
  @default {
    <p>Esto no es una fruta</p>
  }
}

@for(fruit of fruits; track $index) {
  <ul>
      <li>{{fruit}}</li>
  </ul>
}@empty {
  <p>No hay frutas</p>
}

<h1>Signal</h1>
contador: {{count()}}

<router-outlet/>